@model WebApplication2.Models.Duyurular
@{
    ViewBag.Title = "AnasayfaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4">AnasayfaGüncelle</h2>
<hr />
@using (Html.BeginForm("AnasayfaGuncelle", "Announcement", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.baslik)
    @Html.TextBoxFor(x => x.baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.duyuru)
    @Html.TextAreaFor(x => x.duyuru, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" > Duyuru Güncelle </button>

}

